/* Vannak az elemeknek alap beallitott ertekek ezert erdemes style resettel indulni */

/* ELSŐ LÉPÉS */
/* a csillag mindent kijelöl */
/* mindenkinek felul tudjuk irni a default ertekeit */

/* CSS reset javasolt mindig elore */
* {
    margin: 0;
    padding: 0;

    font-size: inherit;
    font-weight: normal;

    box-sizing: border-box;
}

/* igy konnyebb a formazast megadni, nem kell külön - nem mindig jo a szoveg pl de a paddig margin igen */
/* Enélkül mindig minden uj elemnek meg kellene adnom a 0 margint */


#root{
    width: 100%;
    height: 100vh;
    background-color: rgb(181, 189, 201);
}

header{
    height: 60px;
    display: flex;
    /* a a szulore tesszuk de a child elemekre hat */
    /* a child- childja az unoka, azzal foglalkozzon az o szuloje */
    flex-direction: row;
    /* justify-content: space-around; */
    /* space-around-nál az elem elott kozott mogott kocka mindig egyforma */
    justify-content: space-evenly;
    /* a koztuk levő értékek egyformak osszes elem elott es utan */

    /* mi van ha masodlagos tengelyen is helyezni akarom? */
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    padding: 0 50px;
}

.logo{
    width: 80px;
    height: 40px;

    border: 2px solid blue;
}

.left-container {
    display: flex;
    /* elsodleges tengely: */
    flex-direction: row;
    /* masodlagos tengely: lefele center */
    align-items: center;
    gap: 10px;
}
.left-container button {
    height: 20px;
    /* margin-left: 10px; */
    /* de mi van ha nincs logo elotte? */
    /* akkor is szereplne balon margin es igy eltolja az egeszet */
    /* GAP - 10. SOR A MEGOLDAS - ISTEN AJANDEKA */
}

.right-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}



/* GYAKORLÓ A FELADAT ELEJERROL */
/* #root{
    width: 100%;
    height: 100vh;
    background-color: brown;

    font-size: 40px;
} */

/* Ettol meg a h1 2x lesz a title-nek, mert alap erteke felülirja */
/* ezert a csillaghoz be kell irni hogy orokolje - inherit - 8 as sor*/

/* .box {
    width: 200px;
    height: 200px;

    padding: 30px;
    border: 1px solid black;
    
    } */

    /* a box-sizinggal adom meg hogy csak erre vonatkozzzon: alap a content-box */
    /* a border-box a jobbb ezert a csillaghoz rakom*/
    /* box-sizing: border-box; */
    /* igy a bordernek adom a 200px -t es igy nem lesz nagyobb */

/* a default beallitas a benne levo tartalmat szabalyozza es folyamat hozzaadodik amit allitunk,  igy 260px lesz */

